body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:1433px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:309px;
  height:1433px;
  display:flex;
}
#u1956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:1703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:60px;
  width:290px;
  height:1703px;
  display:flex;
}
#u1957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1960_img.mouseOver {
}
#u1960.mouseOver {
}
#u1960_img.mouseDown {
}
#u1960.mouseDown {
}
#u1960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
}
#u1961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1961_img.mouseDown {
}
#u1961.mouseDown {
}
#u1961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
}
#u1962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1962_img.mouseOver {
}
#u1962.mouseOver {
}
#u1962_img.mouseDown {
}
#u1962.mouseDown {
}
#u1962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1963_img.mouseOver {
}
#u1963.mouseOver {
}
#u1963_img.mouseDown {
}
#u1963.mouseDown {
}
#u1963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
