body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:210px;
  width:100px;
  height:60px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_ref {
  border-width:0px;
  position:absolute;
  left:342px;
  top:260px;
  width:1px;
  height:1px;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:100px;
  height:60px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_ref {
  border-width:0px;
  position:absolute;
  left:342px;
  top:110px;
  width:1px;
  height:1px;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:360px;
  width:100px;
  height:60px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_ref {
  border-width:0px;
  position:absolute;
  left:342px;
  top:410px;
  width:1px;
  height:1px;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:60px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:240px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-78px;
  width:214px;
  height:6px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:240px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:150px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:240px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:72px;
  width:214px;
  height:6px;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:68px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:210px;
  width:100px;
  height:60px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_ref {
  border-width:0px;
  position:absolute;
  left:592px;
  top:260px;
  width:1px;
  height:1px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:240px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#333333;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-9px;
  width:18px;
  height:18px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:60px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_ref {
  border-width:0px;
  position:absolute;
  left:592px;
  top:110px;
  width:1px;
  height:1px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:90px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#333333;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-9px;
  width:18px;
  height:18px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:360px;
  width:100px;
  height:60px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:390px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#333333;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-9px;
  width:18px;
  height:18px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:210px;
  width:100px;
  height:60px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_ref {
  border-width:0px;
  position:absolute;
  left:842px;
  top:260px;
  width:1px;
  height:1px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:240px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:150px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:120px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:42px;
  width:92px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:270px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:42px;
  width:92px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:60px;
  width:240px;
  height:65px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:872px;
  height:45px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u129_img.mouseDown {
}
#u129.mouseDown {
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_img.mouseOver {
}
#u130.mouseOver {
}
#u130_img.mouseDown {
}
#u130.mouseDown {
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_img.mouseOver {
}
#u131.mouseOver {
}
#u131_img.mouseDown {
}
#u131.mouseDown {
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
}
#u132_img.mouseDown {
}
#u132.mouseDown {
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
