.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._图片 {
}
.label {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.flow_shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.box_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.box_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.ellipse {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.image {
}
._鼠标悬停文本链接时 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._鼠标按下文本链接时 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_over {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_down {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.primary_button {
  color:#FFFFFF;
}
.paragraph {
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.icon {
}
.line {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
._默认样式 {
}
._页面上导航 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
.table_cell {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._连接符 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._连接符1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.connector1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.droplist {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.radio_button {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._文本 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._鼠标悬停文本链接 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._鼠标按下文本链接 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
._图像 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.placeholder {
}
.box_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._文本框_多行_ {
  color:#000000;
  text-align:left;
}
._形状1 {
}
.button {
}
.text_field1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
._图片1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
._图像1 {
  color:#000000;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.checkbox {
  text-align:left;
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.box_31 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_area {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.table {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._横线 {
}
._表格 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._文本框_单行_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.default_button {
}
._垂直线 {
}
._单选按钮 {
  text-align:left;
}
.image1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.table_cell1 {
}
.flow_shape1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.line1 {
}
._连接线1 {
}
.table1 {
}
.vertical_line {
}
.horizontal_line {
}
._文本1 {
  text-align:left;
}
._形状2 {
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_21 {
}
._鼠标悬停文本链接1 {
}
._鼠标按下文本链接1 {
}
._提交按钮 {
  color:#000000;
}
._水平线 {
}
.label3 {
  font-size:13px;
  color:#666666;
  text-align:left;
}
.ellipse1 {
}
._流程形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时1 {
}
._鼠标按下文本链接时1 {
}
.placeholder1 {
}
textarea, select, input, button { outline: none; }
